@import "tailwindcss";
@keyframes walk-left {
	from {
		right: -100px;
	}
	to {
		right: 30%;
	}
}

.animate-walk-left {
	animation: walk-left 3s linear forwards;
}

body {
  background-color: #0a192f;
  color: #d1d5db; /* similar a text-gray-300 */
}
